In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('yelp_academic_dataset_business (1).csv')

In [12]:
df['categories']

0         Doctors, Traditional Chinese Medicine, Naturop...
1         Shipping Centers, Local Services, Notaries, Ma...
2         Department Stores, Shopping, Fashion, Home & G...
3         Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                                 Brewpubs, Breweries, Food
                                ...
150341                           Nail Salons, Beauty & Spas
150342    Pets, Nurseries & Gardening, Pet Stores, Hobby...
150343    Shopping, Jewelry, Piercing, Toy Stores, Beaut...
150344    Fitness/Exercise Equipment, Eyewear & Optician...
150345    Beauty & Spas, Permanent Makeup, Piercing, Tattoo
Name: categories, Length: 150346, dtype: object

In [13]:
df['categories_list'] = df['categories'].apply(lambda row: row.split(',') if isinstance(row, str) else row)

In [15]:
df.explode('categories_list')

,business_id,categories,categories_list
0,Pns2l4eNsfO8kk83dixA6A,"Doctors, Traditional Chinese Medicine, Naturop...",Doctors
0,Pns2l4eNsfO8kk83dixA6A,"Doctors, Traditional Chinese Medicine, Naturop...",Traditional Chinese Medicine
0,Pns2l4eNsfO8kk83dixA6A,"Doctors, Traditional Chinese Medicine, Naturop...",Naturopathic/Holistic
0,Pns2l4eNsfO8kk83dixA6A,"Doctors, Traditional Chinese Medicine, Naturop...",Acupuncture
0,Pns2l4eNsfO8kk83dixA6A,"Doctors, Traditional Chinese Medicine, Naturop...",Health & Medical
...,...,...,...
150344,mtGm22y5c2UHNXDFAjaPNw,"Fitness/Exercise Equipment, Eyewear & Optician...",Bikes
150345,jV_XOycEzSlTx-65W906pg,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Beauty & Spas
150345,jV_XOycEzSlTx-65W906pg,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Permanent Makeup
150345,jV_XOycEzSlTx-65W906pg,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Piercing
150345,jV_XOycEzSlTx-65W906pg,"Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Tattoo

In [16]:
df.to_csv('categories.csv')